@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar {
  margin-top: 48px;
  margin-bottom: 3rem;
  text-align: end;
  display: block;
}
.navbar i {
  margin: 1rem;
}
.btn-1 {
  border: none;
  color: #156963;
  background-color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-right: 1rem;
}
.btn-2{
  border: none;
  color: white;
  background-color: #156963;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-right: 1rem;
}